body{
  background-color:#971600;
  background-image:url(https://i.pinimg.com/originals/5b/44/0b/5b440bb082e5a299c60170b07f8a5d5b.png);
  background-repeat:no-repeat;
  background-size:220px 220px;
  background-position:right bottom;
  background-attachment:fixed;*/
}
h1{
  color:white;
  font-size:60px;
  text-align:center;
  text-shadow:#333333 4px 4px 1px;
  margin:40px;
}
a{
  text-decoration: none;
  color:white;
}
a:link{
  color:black;
}
a:active{
  color:yellow;
}
#list {
  margin-top:50px;
}
#video{
  text-align: center;
}
